<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RADIUS PAGE</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.css">

    <link rel="stylesheet" href="/vendors/iconly/bold.css">

    <link rel="stylesheet" href="/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="shortcut icon" href="/images/favicon.svg" type="image/x-icon">
</head>

<body>
    <div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
                <div class="sidebar-header">
                    <div class="d-flex justify-content-between">
                        <div class="logo">
                            <a href="index.html"><img src="/img/logo_ASYTECH.png" alt="Logo"></a>
                        </div>
                        <div class="toggler">
                            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                        </div>
                    </div>
                </div>
                <div class="sidebar-menu">
                    <ul class="menu">
                      <% menus.forEach(menu => { %>
                        <% if (menu.active) { %>
                          <li class="sidebar-item active"><a class='sidebar-link' href="<%= menu.path %>"><span><%= menu.name %></span></a></li>
                        <% } else { %>
                          <li class="sidebar-item"><a class='sidebar-link' href="<%= menu.path %>"><i class="bi bi-grid-fill"></i><span><%= menu.name %></span></a></li>
                        <% } %>
                      <% }); %>
                    </ul>
                  </div>
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>
        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>

            <div class="page-heading">
                <h3>RADIUS</h3>
            </div>
            <div class="page-content">
                <section class="row">
                    <div class="col-12 col-lg-12">

                        <div class="page-heading">
                        
                            <section class="section">
                                <div class="card">
                                    <div class="card-content">
                                        <div class="card-body">

                                            <div class="row">
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label>SERVER</label>
                                                        <input type="text" class="form-control" value="localhost">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label>CREDENZIALI</label>
                                                        <input type="text" class="form-control" value="radcheck">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label>UTENTE</label>
                                                        <input type="text" class="form-control" value="radius">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label>PASSWORD</label>
                                                        <input type="text" class="form-control" value="radius">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label>TEMPLATE DI INSERIMENTO</label>
                                                        <textarea class="form-control" id="exampleFormControlTextarea1"
                                                            rows="2" cols="50">

                                                        </textarea>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label>TEMPLATE DI AGGIORNAMENTO</label>
                                                        <textarea class="form-control" id="exampleFormControlTextarea1"
                                                            rows="2"></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label>TEMPLATE DI RIMOZIONE</label>
                                                        <textarea class="form-control" id="exampleFormControlTextarea1"
                                                            rows="2"></textarea>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>


                                </div>

                            </section>
                        </div>



                    </div>

                </section>
            </div>

        </div>
    </div>
    <script src="/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>