


<% if (user.role == 'ADMIN') { %>
<ul class="menu">



    <li class="sidebar-title">Menu</li>

    <li class="sidebar-item active">
        <a href="dashboard" class='sidebar-link'>
            <i class="bi bi-grid-fill"></i>
            <span>Home</span>
        </a>
    </li>
    <li class="sidebar-item  ">
        <a href="customers" class='sidebar-link'>
            <i class="bi bi-person"></i>
            <span>Clienti</span>
        </a>
    </li>
    <li class="sidebar-item  ">
        <a href="users" class='sidebar-link'>
            <i class="bi bi-people"></i>
            <span>Utenti</span>
        </a>
    </li>
    <li class="sidebar-item  ">
        <a href="tickets" class='sidebar-link'>
            <i class="bi bi-wifi"></i>
            <span>Ticket</span>
        </a>
    </li>



</ul>
<% } %>

<% if (user.role == 'USER') { %>
    <ul class="menu">
        <li class="sidebar-title">Menu</li>
    
        <li class="sidebar-item active">
            <a href="dashboard" class='sidebar-link'>
                <i class="bi bi-grid-fill"></i>
                <span>Home</span>
            </a>
        </li>
        <li class="sidebar-item  ">
            <a href="tickets" class='sidebar-link'>
                <i class="bi bi-wifi"></i>
                <span>Ticket</span>
            </a>
        </li>
    </ul>
    <% } %>

    <% if (user.role == 'HOTEL') { %>
        <ul class="menu">
            <li class="sidebar-title">Menu</li>
        
            <li class="sidebar-item active">
                <a href="dashboard" class='sidebar-link'>
                    <i class="bi bi-grid-fill"></i>
                    <span>Home</span>
                </a>
            </li>
    
            <li class="sidebar-item  ">
                <a href="users" class='sidebar-link'>
                    <i class="bi bi-people"></i>
                    <span>Utenti</span>
                </a>
            </li>
            <li class="sidebar-item  ">
                <a href="tickets" class='sidebar-link'>
                    <i class="bi bi-wifi"></i>
                    <span>Ticket</span>
                </a>
            </li>
        </ul>
        <% } %>

        <% if (user.role == 'SUPERADMIN') { %>
            <ul class="menu">
                <li class="sidebar-title">Menu</li>
            
                <li class="sidebar-item active">
                    <a href="dashboard" class='sidebar-link'>
                        <i class="bi bi-grid-fill"></i>
                        <span>Home</span>
                    </a>
                </li>
                <li class="sidebar-item  ">
                    <a href="customers" class='sidebar-link'>
                        <i class="bi bi-person"></i>
                        <span>Clienti</span>
                    </a>
                </li>
                <li class="sidebar-item  ">
                    <a href="customers" class='sidebar-link'>
                        <i class="bi bi-person"></i>
                        <span>Reseller</span>
                    </a>
                </li>
                <li class="sidebar-item  ">
                    <a href="users" class='sidebar-link'>
                        <i class="bi bi-people"></i>
                        <span>Utenti</span>
                    </a>
                </li>
                <li class="sidebar-item  ">
                    <a href="tickets" class='sidebar-link'>
                        <i class="bi bi-wifi"></i>
                        <span>Ticket</span>
                    </a>
                </li>
                <li class="sidebar-item ">
                    <a href="radius" class='sidebar-link'>
                        <i class="bi bi-server"></i>
                        <span>Radius</span>
                    </a>
                </li>
            </ul>
            <% } %>