<!doctype html>
<html lang="it">

<head>
    <meta charset="utf-8">
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="expires" content="-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HOTSPOT</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css">
</head>

<body class="light">
   
    <div class="ie-fixMinHeight">
        <div class="main">
            <div class="wrap animated fadeIn">
                <img src="/img/logo_ASYTECH.png" class="logo_default"/>
                <a href="/register">
                    <input type="submit" value="ACCEDI CON EMAIL E PASSWORD" />
                </a>
                <div class="row">
                    <div class="column">
                        <a href="/auth/google" class="fa fa-google"></a>
                    </div>
                    <div class="column">
                        <a href="/auth/facebook" class="fa fa-facebook"></a>
                    </div>
                </div>
                <a href="/login">
                    <input type="submit" value="HAI GIA LE CREDENZIALI?" />
                </a>
                <br>
                <p class="info bt">Powered by <img class="logo_powered" src="/img/logo.png"></p>
            </div>
        </div>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>