<html>
<head>
</head>
<body>
    <script>
        const form = document.createElement('form');
        



        
        // Crea un input text
        const inputText = document.createElement('input');
        inputText.setAttribute('type', 'hidden');
        inputText.setAttribute('name', 'username');
        inputText.setAttribute('value', '<%=username %>');
        form.appendChild(inputText);

        // Crea un input email
        const inputEmail = document.createElement('input');
        inputEmail.setAttribute('type', 'hidden');
        inputEmail.setAttribute('name', 'password');
        inputEmail.setAttribute('value', '<%=password %>');
        form.appendChild(inputEmail);

        const inputDst = document.createElement('input');
        inputDst.setAttribute('type', 'hidden');
        inputDst.setAttribute('name', 'dst');
        inputDst.setAttribute('value', 'http://www.wifinetcom.net/');
        form.appendChild(inputDst);

        
        // Crea un bottone di invio
        const submitButton = document.createElement('button');
        submitButton.setAttribute('type', 'submit');
        submitButton.textContent = 'Invia';
        form.appendChild(submitButton);

        // Aggiungi un evento "submit" al form
        form.addEventListener('submit', function (event) {
            event.preventDefault(); // Evita il comportamento predefinito del form

            // Ottieni i dati del form
            const formData = new FormData(form);

            // Invia il form al server
            fetch('/rotta', {
                method: 'POST',
                body: formData
            })
                .then(function (response) {
                    if (response.ok) {
                        // Mostra un messaggio di successo
                        alert('Form inviato con successo!');
                    } else {
                        // Mostra un messaggio di errore
                        alert('Errore nell\'invio del form!');
                    }
                });
        });

        // Aggiungi il form al DOM
        document.body.appendChild(form);

    </script>
</body>

</html>