<!doctype html>
<html>

<head>
  <title>Error Page</title>
</head>

<body>
  <div class="container">
    <p>Error please return to access point page. Click <a href="http://wifi.hotspot.local">here</a></p>
  </div>

  <script>
    setTimeout(() => {
      location.href = "http://wifi.hotspot.local";
    }, 1000);
  </script>
</body>

</html>